{% include "base.html" %}
{% block content %}
<html>
  <head>
    <title> OVPL | VLEAD Platform Services</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <style type="text/css"></style>
  </head>
  <body>
    <div id="container" class="container">
      <div class="row" align="center">
      <div class="col-md-offset-2 col-md-7" style="margin-top:1em;">
	<h1 class="text-h3-darkblue-bold">Auto Deployment Service</h1>
      </div>
      </div>
      <br>
      <br>
     <!---  <h2 class="text-muted"></h2>-->
      <div id="main" class="row" style="margin-top:1em;">
	
	<div class="col-md-offset-2 col-md-7 login-well well" align="center">
	  <div class="help-text">
	    You have to login to deploy a lab. Please use your email address to
	    login.
	  </div>
	  <p></p>
	  <div>
	    <button class="btn btn-lg btn-primary" onclick="window.location.href='/login'">Login</button>
	  </div><br>
	  <div class="help-text">
	    We use Google OAuth service for logging in.
	  </div>
	</div>
      </div>
      <div class="row" align="center">
	<div class="col-md-offset-2 col-md-7" style="margin-top:1em;">
	<a href="http://github.com/vlead/ovpl">OVPL - Github</a></div>
      </div>
    </div>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>

{% endblock %}
