{% include "base.html" %}

{% block content %}
<header>
  <h1 align="center" class="text-h3-darkblue-bold">Lab is Deployed </h1>
</header>
<br>
<div class="container">
  <table align="center" class="table-condensed">
      <tr>
	<td><b> LAB URL</b></td><td></td>
        <td>{{ data.url }}</td>
      </tr>
      <tr>
	<td><b>LAB ID</b></td><td></td>
	<td>{{ data.lab_id }}</td>
      </tr>
      <tr>
	<td><b>GITHUB URL</b></td><td></td>
	<td>{{ data.lab_src_url }}</td>
      </tr>
      <tr>
        <td><b>VERSION/TAG</b></td><td></td>
	<td>{{ data.version }}</td>
      </tr>
  </table>
  <br>
  <div align="center">
<button align="center" class="btn btn-lg btn-primary"
        onclick="window.location.href='/'">Deploy more Labs...</button>
</div>
</div>

{% endblock %}
