# Defaults start from here.
*.py[cod]
*.swp
*~
*#*
.*#*
*.pyc

# the log directory
log/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# config files
config.json
aws_config.py
centosvz_config.py
centosvz_bridge_config.py
base_config.py
authorized_users.py
# private keys
*.pem
