{% extends "base.html" %}

{% block title %}
  OVPL | VLEAD Platform Services
{% end %}

{% block header %}
	Test Your Lab!
{% end %}

{% block body %}
<div id="user-dash">
  {% if current_user %}
    Logged in as {{ current_user }}
    <a href="#" class="btn btn-primary btn-sm" id="logout">Sign Out</a>
  {% end %}
</div>
<form class="form-horizontal">
  <div class="form-group">
    <label for="lab-id" class="col-md-2 control-label">Lab ID</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="lab-id" placeholder="Enter lab id">
    </div>
  </div>
  <div class="form-group">
    <label for="lab-src-url" class="col-md-2 control-label">Repo URL</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="lab-src-url" placeholder="Lab Repo URL">
    </div>
  </div>
  <div class="form-group">
    <label for="lab-tag" class="col-md-2 control-label">Tag</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="lab-tag" placeholder="Release Tag">
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
{% end %}
