{% include "base.html" %}

{% block content %}



<img src="http://vlabs.ac.in/images/banner_img.jpg" class="img-responsive" />	    
{% if invalid_lab %}
<h4>Invalid Lab Name : {{ invalid_lab }}</h4>
{% endif %}

{% if invalid_tag %}
<h4>Invalid Version : {{ invalid_tag }}</h4>
{% endif %}

<div id="form">
  <h3 style ="align:center">Deploy Your Lab</h3>
  
  <form id="waterform" method="post">    
    <div class="formgroup" id="name-form">
      <label for="name">Lab ID*</label>
      <input type="text" id="name" name="lab_id" required/>
    </div>
    
    <div class="formgroup" id="name-from">
      <label for="name">Github URL*</label>
      <input type="text" id="url" name="lab_src_url" required/>
    </div>
    
    <div class="formgroup" id="message-form">
       <label for="message">Branch/Tag</label>
    <input type="text" id="tag" name="version" />
    
    </div>
    <input type="submit" value="Submit"/>
  </form>
</div>

{% endblock %}
