{% include "base.html" %}

{% block content %}

<header>
  <h1>Lab Has Deployed </h1>
</header>
{% if data.url == "Test failed: See log file for errors" %}
<h3>error</h3>
{% else %}
<div id="form">
  
  <form id="waterform" method="post">
    
    <div class="formgroup" id="name-form">
      <label for="name">Lab ID*</label>
      <input type="text" id="name" name="lab_id" placeholder="{{ data.lab_id }}" readonly/>
    </div>
    
    <div class="formgroup" id="name-from">
      <label for="name">Github URL*</label>
      <input type="text" id="email" name="lab_src_url" placeholder="{{ data.lab_src_url }}" readonly/>
    </div>
    
    <div class="formgroup" id="message-form">
       <label for="message">Branch/Tag</label>
    <input type="text" id="email" name="version" placeholder="{{ data.version }}" readonly/>
    </div>
    <div class="formgroup" id="message-form">
       <label for="message">Lab IP/Domain</label>
    <input type="text" id="email" name="version" value="{{ data.url }}"/>
    </div>
    
  </form>
</div>
{% endif %}
{% endblock %}
